<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LinkerPlayer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <LinkerPlayer.Properties.Settings>
            <setting name="SelectedTheme" serializeAs="String">
                <value>Dark</value>
            </setting>
            <setting name="VisualizationEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AdditionalOutputEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VolumeSliderValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastSelectedPlaylistName" serializeAs="String">
                <value />
            </setting>
            <setting name="LastSelectedSongId" serializeAs="String">
                <value />
            </setting>
            <setting name="LastSeekBarValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastPlaybackMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MinimizeToTrayEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MainOutputDevice" serializeAs="String">
                <value />
            </setting>
            <setting name="AdditionalOutputDevice" serializeAs="String">
                <value />
            </setting>
            <setting name="PlayPauseHotkey" serializeAs="String">
                <value />
            </setting>
            <setting name="NextSongHotkey" serializeAs="String">
                <value />
            </setting>
            <setting name="PreviousSongHotkey" serializeAs="String">
                <value />
            </setting>
            <setting name="IncreaseMainVolumeHotkey" serializeAs="String">
                <value />
            </setting>
            <setting name="DecreaseMainVolumeHotkey" serializeAs="String">
                <value />
            </setting>
            <setting name="EqualizerOnStartEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EqualizerBandName" serializeAs="String">
                <value />
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="AdditionalVolumeSliderValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShuffleMode" serializeAs="String">
                <value>False</value>
            </setting>
        </LinkerPlayer.Properties.Settings>
    </userSettings>
</configuration>