<?xml version="1.0" encoding="utf-8"?>
<ArrayOfKeyValueOfstringRectangle3odnvp_PE xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
  <KeyValueOfstringRectangle3odnvp_PE>
    <Key>EqualizerWindow</Key>
    <Value xmlns:d3p1="http://schemas.datacontract.org/2004/07/System.Drawing">
      <d3p1:height>0</d3p1:height>
      <d3p1:width>0</d3p1:width>
      <d3p1:x>0</d3p1:x>
      <d3p1:y>0</d3p1:y>
    </Value>
  </KeyValueOfstringRectangle3odnvp_PE>
  <KeyValueOfstringRectangle3odnvp_PE>
    <Key>MainWindow</Key>
    <Value xmlns:d3p1="http://schemas.datacontract.org/2004/07/System.Drawing">
      <d3p1:height>1032</d3p1:height>
      <d3p1:width>1330</d3p1:width>
      <d3p1:x>2475</d3p1:x>
      <d3p1:y>-6</d3p1:y>
    </Value>
  </KeyValueOfstringRectangle3odnvp_PE>
  <KeyValueOfstringRectangle3odnvp_PE>
    <Key>SettingsWindow</Key>
    <Value xmlns:d3p1="http://schemas.datacontract.org/2004/07/System.Drawing">
      <d3p1:height>0</d3p1:height>
      <d3p1:width>0</d3p1:width>
      <d3p1:x>0</d3p1:x>
      <d3p1:y>0</d3p1:y>
    </Value>
  </KeyValueOfstringRectangle3odnvp_PE>
</ArrayOfKeyValueOfstringRectangle3odnvp_PE>